@import "reset.css";
@import "layout.css";
@import "responsive.css";
@import "desktop.css";
@import "tablet.css";
@import "mobile.css";
@import "desktop-x1.css";

.conteiner {
  width: ;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 300px;
  border: 1px solid #000;
}

.card-image {
  height: 300px;
  background-size: cover;
  background-position: center;
}

.card-text {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.card-image2 {
  height: 300px;
  background-image: url("https://i.pinimg.com/564x/9b/50/1e/9b501e83c81315541053f4c98d4a5eae.jpg");
  background-size: cover;
  background-position: center;
}

.card-text2 {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.card-image3 {
  height: 300px;
  background-image: url("https://i.pinimg.com/564x/d0/1c/14/d01c140a25fa139468cea1cbba09661f.jpg");
  background-size: cover;
  background-position: center;
}

.card-text3 {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
