@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption&subset=cyrillic');
  body{
    font-family: 'PT Sans', sans-serif;
    background-image: url();
    background-size: 800px 20624px;
    background-position: top center;
    background-repeat: no-repeat;
    width: 700px;
    margin: 0 auto;
    padding-top: 66px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1, h2, h3, p, ul, blockquote {
    width: 700px;
    margin: 0 auto;
  }
  h1 {
    font-family: "PT Sans Caption";
    font-size: 40px;
    font-weight: bold;
    margin-top: 2px;
    letter-spacing: ;
    margin-bottom: auto;
    line-height: 41px;
  }
  h1 + p {color: grey;
    font-family: "PT Sans Caption";
    font-size: 22px;
    line-height: 32px;
    margin-top: 5px;
    margin-bottom: 29px;
  }
  h2 {
    font-family: "PT Sans",sans-serif;
    font-size: 37px;
    font-weight: bold;
    margin-top: 22px;
    margin-bottom: 0px;
    line-height: 76px;
  }
  h2 + p {
    font-family: "PT Sans",sans-serif;
    margin-top: -12px;
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 34px;
    }
  h3 {
    font-family: "PT Sans",sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 35px;
  }
  h3 + p {
    font-family: "PT Sans",sans-serif;
    margin-top: -12px;
    margin-bottom: 22px;
    font-size: 22px;
    line-height: 35px;
  }
  p, blockquote{
    font-family: "PT Sans",sans-serif;
    font-size: 22px;
    line-height: 33px;
  }
  p + p{
    font-family: "PT Sans",sans-serif;
    margin-top: 29px;
    margin-bottom: 22px;
    font-size: 22px;
  }
  .quote{
    font-family: "PT Sans",sans-serif;
    font-size:25px;
    font-style: italic;
    font-weight: lighter;
    margin-top: 10px;
    border-left: 2px solid black;
    padding-left: 20px;
    margin-left: -20px;  }  a {color:black;}  p {
      font-family: "PT Sans",sans-serif;
         font-size: 22px;
    margin-top: 30px;
    list-style-type: disc;
  }

  li{
    font-family: "PT Sans",sans-serif;
    margin-top: 29px;
    margin-bottom: 22px;
    font-size: 22px;z
  }

  a {
    color: inherit;
  }

  a, a:visited {
    color: inherit;
  }

  ul, blockquote {
    font-family: "PT Sans",sans-serif;
    font-size:37px;
    width: 700px;
    margin: 0 auto;
}

ul {
  style: inherit
  font-family: "PT Sans",sans-serif;
  font-size: inherit;
  font-weight: inherit;
  margin-top: inherit;
}

blockquote {
  style: inherit;
  font-family: "PT Sans",sans-serif;
  font-size: 22px;
  font-weight: 0px;
  margin-top: 0px;
}
blockquote: ::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -20px;
  width: 3px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}


background {
  background-image: url(dc-online-media-mockup.jpg)
}
