
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption&subset=cyrillic');
  body{
    font-family: 'PT Sans', sans-serif;
    background-image: url(../images/dc-online-media-mockup.jpg);
    background-size: 800px 20624px;
    background-position: top center;
    background-repeat: no-repeat;
    width: 700px;
    margin: 0 auto;
    padding-top: 66px;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1 {
    font-family: "PT Sans Caption";
    font-size: 40px;
    font-weight: bold;
    margin-top: 65px;
    letter-spacing: ;
    margin-bottom: auto;
    line-height: 46px;
  }
  h1 + p {color: grey;
    font-family: "PT Sans Caption";
    font-size: 22px;
    line-height: 31px;
    margin-top: 2px;
    margin-bottom: 31px;
  }
  h2 {
    font-family: "PT Sans",sans-serif;
    font-size: 37px;
    font-weight: bold;
    margin-top: 43px;
    line-height: ;
  }
  h2 + p {
    margin-top: 7px;
    font-size: 20px;
    line-height: 21px;
  }
  h3 {
    font-family: "PT Sans",sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
  }
  h3 + p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 19px;
  }
  p, blockquote{
    font-size: 22px;
    line-height: 34px;
  }
  p + p{
    margin-top: 28px;
    margin-bottom: 26px;
    font-size: 22px;

  }
  .quote{
    font-family: "PT Sans",sans-serif;
    font-size:25px;
    font-style: italic;
    font-weight: lighter;
    margin-top: 10px;
    border-left: 2px solid black;
    padding-left: 20px;
    margin-left: -20px;  }  a {color:black;}  p {
      font-family: "PT Sans",sans-serif;
         font-size: 22px;
    margin-top: 30px;
    list-style-type: disc;  }

    a, a:visited {
    color: inherit;
  }

  h1, h2, h3, p, ul, blockquote {
  width: 700px;
  margin: 0 auto;
}

ul {
  style: inherit
  font-family: "PT Sans",sans-serif;
  font-size: inherit;
  font-weight: inherit;
  margin-top: inherit;
}

blockquote {
  style: inherit;
  font-family: "PT Sans",sans-serif;
  font-size: 22px;
  font-weight: 0px;
  margin-top: 0px;
}
blockquote: ::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -20px;
  width: 3px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

background {
  background-image: url(dc-online-media-mockup.jpg)
}
