@import "reset.css";
@import "desktop.css";
@import "tablet.css";
@import "mobile.css";
@import "desktop-x1.css";

}


.screen {
  height: 100vh;
  display: flex;
}

.screen p {
  margin: auto;
  font-size: 32px;
  display: none;
}

.screen .desktop {
  display: block;
}
